
<nav class="navbar navbar-dark bg-info">
  <a class="navbar-brand" href="#">
    LuisGomez11
  </a>
  <div class="ml-auto">
    <i class="fas fa-bars icono-bar"></i>
  </div>
</nav>
<div class="jumbotron">
  <h1 class="display-4">Slide Menu</h1>
  <p class="lead">Slide menu de derecha a izquierda con animación.</p>
</div>
<div class="menu fixed-top">
  <div class="menu-items">
    <ul class="text-center">
      <li>
        <a href="" class="h2">INICIO</a>
      </li>
      <li>
        <a href="" class="h2">INICIAR SESION</a>
      </li>
      <li>
        <a href="" class="h2">REGISTARSE</a>
      </li>
    </ul>
  </div>
  
</div>
<!--<router-outlet></router-outlet>-->
